<%= form_tag new_julgamento_path do %>

<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>

  <table>
    <% @cri = '' %>
    <% @julgamentos.each do |j| %>
      <% if j.criterio.nome != @cri %>
          <tr><%= j.criterio.nome %></tr>
          <tr><td></td>
      <% else %>
        <tr>
      <% end %>
      <td><%= j.alternativa_1.nome %></td>
      </tr>
      <tr>
        <td><%= j.alternativa_2.nome %></td>
      </tr>
    <% end %>
  </table>

<% end %>
